<div class="ui inverted segment menu">
  <div class= "ui container">
	<a class="item">
      Chatroom
	</a>
	<a class="item">
      Messages
	</a>
	<div class="right menu">
		<div class="ui dropdown item">
			Account<i class="icon dropdown"></i>
			<div class="menu">
				<a class="item">first</a>
				<a class="item">second</a>
				<a class="item">third</a>
			</div>
		</div>


		<a class="ui primary button">
		Login
		</a>
	</div>
  </div>
</div>
