<div class="ui center aligned blue header">
	<h1 > MessageMe App - share your real feelings</h1>
</div>
<h3 class="ui center aligned icon header">
  <i class="circular power off green icon"></i>
  Login to continue
</h3>
