<h2 class="ui center aligned massive blue icon header">
	<i class=" circular inverted blue comments icon"></i>
 Open up here
	<%# <%= image_tag 'favicon.ico', class:"ui circular huge image " %>
</h2>


