<div class="ui inverted  menu">
  <div class= "ui container">
	<a class="item" href="/">
      Chatroom
	</a>
	<a class="item">
      Messages
	</a>
	<div class="right menu">
		<div class="ui  dropdown  item">
			Account<i class="icon dropdown"></i>
			<div class="menu">
				<a class="item">Sign up</a>
				<a class="item" href="/login">Login</a>
				<a class="item">Logout</a>
			</div>
		</div>


		<a class="ui primary button">
		Sign Up
		</a>
	</div>
  </div>
</div>
